#sideNav {
  .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }
  .navbar-toggler {
    &:focus {
      outline-color: lighten($primary, 15%);
    }
  }
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: $sidebar-base-width;
    height: 100vh;


    .logo-container{
      position: absolute;
      top: 50px;
      width: 100%;
      img{
        width: 75%;
      }
    }
    .navbar-brand {
      display: flex;

      margin: auto auto 0;
      padding: 0.5rem;
      .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid fade-out($white, 0.8);
      }
      .profile-photo{
        height: 160px;
        width: 160px;
        border-radius: 50%;
        background-color: darken($primary, 5%);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .photo{
          width: 95%;
          height: 95%;
          border-radius: 50%;
          background-position: 35% 40%;
          background-size: 215%;
          background-repeat: no-repeat;
          background-image: url('../img/profile.jpg');
        }
      }
    }
    .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;

      width: 100%;
      margin-bottom: auto;
      .navbar-nav {
        flex-direction: column;

        width: 100%;
        .nav-item {
          display: block;
          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}
